<div class="topcoat-navigation-bar" align="center"> <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
    <span class="topcoat-icon topcoat-icon--back"></span>
</a><h1 class="topcoat-navigation-bar__title center" >Rules</h1>
</div>
    <ul class="list-ul"  data-divider-theme='f'>
        <li align=left> <h1 class="topcoat-navigation-bar__title" style="font-size:1.7em">Cray Play Rules:</h1><li>
        <li align=left> <h1 class="topcoat-navigation-bar__title">Theses are the CrayPlay rules. The game is played similarly to Cards Against Humanity...</h1><li>
            <li align=center><p class=" topcoat-button-bar__button" ng-mousedown="go('/addPlayer')">Start Game</p><li>
                </ul>
    
